<h1>Plane: <input type="text" ng-model="plane.name" placeholder="my-custom-plane" /></h1>
<!-- TODO: check out bootstrap markup for forms -->
<p>Title: <input type="text" ng-model="plane.title" placeholder="My custom plane!" /></p>
<p>Description: <input type="text" ng-model="plane.description" placeholder="Will show a glider moving eastward..." /></p>
<table class="plane">
  <tr ng-repeat="x in dimensionRanges.x">
    <td
      ng-repeat="y in dimensionRanges.y"
      ng-class="alive(x, y) ? 'alive' : 'dead'"
      ng-click="toggle(x, y)">
    </td>
  </tr>
</table>

