table.plane {
  margin: 1em auto;
  border-collapse: collapse;
}
.plane td {
  border: 1px solid black;
  height: 50px;
  width: 50px;
}
.plane td.alive {
  background-color: black;
}
.plane td.dead {
  background-color: white;
}
a.cell_tooltip {
  display: block;
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
}
a.cell_tooltip:hover {
  border: 1px solid red;
}
